<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.portfolio_advisor.xls_import_watch</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_EXECUTABLE__</string>
    <string>__PROJECT_ROOT__/scripts/process_watched_xls_import.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>WatchPaths</key>
  <array>
    <string>__PROJECT_ROOT__/data/xls/import</string>
  </array>
  <key>StandardOutPath</key>
  <string>__PROJECT_ROOT__/logs/xls_import_watch.launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__PROJECT_ROOT__/logs/xls_import_watch.launchd.err.log</string>
</dict>
</plist>
